@import "tailwindcss";
@plugin "@iconify/tailwind4";

@theme {
  --color-toska: #20D2AE;
  --color-hijo: #B0FC44;
  --color-oren: #FF8702;
}

body {
  @apply font-sans;
  @apply bg-toska;
}

.navActive {
  @apply bg-toska;
}
